Repository egovernments/DIGIT-Works, changes with the owners that CODEOWNERS names for each.
All owners: @gajendran-egov, @sathishp-eGov, @rushang7-eGov, @subhashini-egov, @vishalgupta-eGov, @anitha-srinivasan-egov, @jagankumar-egov

Sub Skills MDMS call removed
  frontend/works_shg_app/lib/blocs/attendance/skills/sub_skills_bloc.dart
  frontend/works_shg_app/lib/blocs/attendance/skills/sub_skills_bloc.freezed.dart
  frontend/works_shg_app/lib/blocs/muster_rolls/create_muster.dart
  frontend/works_shg_app/lib/blocs/muster_rolls/create_muster.freezed.dart
  frontend/works_shg_app/lib/data/repositories/attendance_mdms.dart
  frontend/works_shg_app/lib/main.dart
  frontend/works_shg_app/lib/models/skills/sub_skills.dart
  frontend/works_shg_app/lib/models/skills/sub_skills.freezed.dart
  frontend/works_shg_app/lib/models/skills/sub_skills.g.dart
  frontend/works_shg_app/lib/pages/home.dart
  frontend/works_shg_app/lib/pages/shg_inbox.dart
  frontend/works_shg_app/lib/pages/track_attendance.dart
  frontend/works_shg_app/lib/utils/Constants/i18_key_constants.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-2460:: Table Dropdown component, PFM-2488, PFM-2489 Bug Fixes (#384)
  frontend/works_shg_app/lib/blocs/app_config/app_config.dart
  frontend/works_shg_app/lib/blocs/app_config/app_config.freezed.dart
  frontend/works_shg_app/lib/blocs/attendance/skills/skills_bloc.dart
  frontend/works_shg_app/lib/blocs/attendance/skills/skills_bloc.freezed.dart
  frontend/works_shg_app/lib/blocs/muster_rolls/create_muster.dart
  frontend/works_shg_app/lib/blocs/muster_rolls/create_muster.freezed.dart
  frontend/works_shg_app/lib/blocs/muster_rolls/get_muster_workflow.dart
  frontend/works_shg_app/lib/data/fake_app_config.dart
  frontend/works_shg_app/lib/data/fake_language_schema.dart
  frontend/works_shg_app/lib/data/fake_muster_rolls.dart
  frontend/works_shg_app/lib/data/fake_table_data.dart
  frontend/works_shg_app/lib/data/fake_work_details.dart
  frontend/works_shg_app/lib/data/repositories/attendance_mdms.dart
  frontend/works_shg_app/lib/main.dart
  frontend/works_shg_app/lib/models/attendance/attendee_model.dart
  frontend/works_shg_app/lib/models/attendance/attendee_model.freezed.dart
  frontend/works_shg_app/lib/models/attendance/attendee_model.g.dart
  frontend/works_shg_app/lib/models/skills/skills.dart
  frontend/works_shg_app/lib/models/skills/skills.freezed.dart
  frontend/works_shg_app/lib/models/skills/skills.g.dart
  frontend/works_shg_app/lib/pages/home.dart
  frontend/works_shg_app/lib/pages/shg_inbox.dart
  frontend/works_shg_app/lib/pages/track_attendance.dart
  frontend/works_shg_app/lib/pages/view_muster_rolls.dart
  frontend/works_shg_app/lib/utils/Constants/i18_key_constants.dart
  frontend/works_shg_app/lib/utils/Toast/toaster.dart
  frontend/works_shg_app/lib/utils/models.dart
  frontend/works_shg_app/lib/utils/models/track_attendance_payload.dart
  frontend/works_shg_app/lib/widgets/atoms/table_dropdown.dart
  frontend/works_shg_app/lib/widgets/molecules/digit_table.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

added locale code changes
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/utils/preProcessMDMSConfig.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Project/src/components/SubProjectDetailsTable.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Project/src/configs/createProjectConfig.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Project/src/configs/createProjectConfigMUKTA.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Project/src/pages/employee/CreateProjectMUKTA/CreateProjectForm.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Project/src/pages/employee/ProjectDetails/index.js
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Updated works management service in build-config.yml
  build/build-config.yml
Owners: @gajendran-egov, @sathishp-eGov, @rushang7-eGov, @subhashini-egov

Altered the column constraints of the table to allow null values
  backend/estimate-service/src/main/resources/db/migration/main/V20230301124030__alter_table.sql
Owners: @sathishp-eGov, @rushang7-eGov, @subhashini-egov, @vishalgupta-eGov, @anitha-srinivasan-egov

CODEOWNERS:

*  @gajendran-egov @sathishp-eGov @rushang7-eGov @subhashini-egov
*.yaml  @gajendran-egov @sathishp-eGov  @rushang7-eGov @subhashini-egov

##Backend
backend/ @sathishp-eGov @rushang7-eGov @subhashini-egov @vishalgupta-eGov @anitha-srinivasan-egov

##Frontend
frontend/ @sathishp-eGov @jagankumar-egov @subhashini-egov
