Repository egovernments/DIGIT-Works, changes with the owners that CODEOWNERS names for each.
All owners: @sathishp-eGov, @subhashini-egov, @jagankumar-egov, @egovernments/works-dev-pr-reviewers

Update build-config.yml
  build/build-config.yml
Owners: @sathishp-eGov, @subhashini-egov, @jagankumar-egov

PFM-2346 Sms notifications for time extension (#1330)
  backend/contracts/src/main/java/org/egov/works/service/NotificationService.java
  backend/contracts/src/main/java/org/egov/works/util/ContractServiceConstants.java
Owners: @egovernments/works-dev-pr-reviewers

taking userName in string quotes
  backend/organisation/src/main/java/org/egov/util/UserMigrationUtil.java
Owners: @egovernments/works-dev-pr-reviewers

searching by username instead of mobilenumber
  backend/organisation/src/main/java/org/egov/util/UserMigrationUtil.java
Owners: @egovernments/works-dev-pr-reviewers

Time extension Edit button fixes
  frontend/works_shg_app/lib/pages/service_requests/service_requests.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Time extension Edit button fixes (#1336)
  frontend/works_shg_app/lib/pages/service_requests/service_requests.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

updating by contact_mobile_number instead of decypted mobile number
  backend/organisation/src/main/java/org/egov/util/UserMigrationUtil.java
Owners: @egovernments/works-dev-pr-reviewers

Time extension Edit button fixes
  frontend/works_shg_app/lib/blocs/time_extension_request/create_time_extension_request.dart
  frontend/works_shg_app/lib/blocs/time_extension_request/create_time_extension_request.freezed.dart
  frontend/works_shg_app/lib/pages/time_extension_request/create_time_extension.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Time extension Edit button fixes (#1338)
  frontend/works_shg_app/lib/blocs/time_extension_request/create_time_extension_request.dart
  frontend/works_shg_app/lib/blocs/time_extension_request/create_time_extension_request.freezed.dart
  frontend/works_shg_app/lib/pages/time_extension_request/create_time_extension.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Update create_time_extension_request.dart
  frontend/works_shg_app/lib/blocs/time_extension_request/create_time_extension_request.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Update create_time_extension_request.dart (#1339)
  frontend/works_shg_app/lib/blocs/time_extension_request/create_time_extension_request.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Master to develop conflict changes
  frontend/works_shg_app/lib/pages/time_extension_request/create_time_extension.dart
  frontend/works_shg_app/lib/router/app_router.dart
  frontend/works_shg_app/lib/router/app_router.gr.dart
  frontend/works_shg_app/lib/widgets/WorkDetailsCard.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Master to develop conflict changes (#1340)
  frontend/works_shg_app/lib/pages/time_extension_request/create_time_extension.dart
  frontend/works_shg_app/lib/router/app_router.dart
  frontend/works_shg_app/lib/router/app_router.gr.dart
  frontend/works_shg_app/lib/widgets/WorkDetailsCard.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Attendance validation for update and change query limit (#1332)
  backend/attendance/src/main/java/org/egov/repository/RegisterRepository.java
  backend/attendance/src/main/java/org/egov/repository/querybuilder/RegisterQueryBuilder.java
  backend/attendance/src/main/java/org/egov/service/OrganisationContactDetailsStaffUpdateService.java
  backend/attendance/src/main/java/org/egov/service/StaffService.java
  backend/attendance/src/main/java/org/egov/web/controllers/StaffApiController.java
  backend/attendance/src/main/resources/application.properties
  backend/attendance/src/test/java/org/egov/web/controllers/StaffApiControllerTest.java
Owners: @egovernments/works-dev-pr-reviewers

Updated version for works 0.2
  backend/attendance/pom.xml
  backend/contracts/pom.xml
  backend/estimates/src/main/java/org/egov/service/WorkflowService.java
  backend/estimates/src/main/java/org/egov/util/EstimateServiceConstant.java
  backend/expense-calculator/pom.xml
  frontend/micro-ui/web/package.json
  frontend/works_shg_app/package.json
  frontend/works_shg_app/pubspec.yaml
Owners: @egovernments/works-dev-pr-reviewers, @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Update Version of organisation
  backend/organisation/pom.xml
Owners: @egovernments/works-dev-pr-reviewers

Update Version of organisation (#1343)
  backend/organisation/pom.xml
Owners: @egovernments/works-dev-pr-reviewers

Update bankaccount version
  backend/bankaccounts/pom.xml
Owners: @egovernments/works-dev-pr-reviewers

Update bankaccount version (#1344)
  backend/bankaccounts/pom.xml
Owners: @egovernments/works-dev-pr-reviewers

added new migration script
  backend/organisation/src/main/java/org/egov/util/UserIndividualMigrationUtil.java
Owners: @egovernments/works-dev-pr-reviewers

migration controller changes
  backend/organisation/src/main/java/org/egov/util/UserMigrationUtil.java
  backend/organisation/src/main/java/org/egov/web/controllers/MigrationController.java
Owners: @egovernments/works-dev-pr-reviewers

Changed update query
  backend/organisation/src/main/java/org/egov/util/UserIndividualMigrationUtil.java
Owners: @egovernments/works-dev-pr-reviewers

update attendance staff query
  backend/organisation/src/main/java/org/egov/util/UserIndividualMigrationUtil.java
Owners: @egovernments/works-dev-pr-reviewers

PFM-4458 removed muster roll validation
  backend/contracts/src/main/java/org/egov/works/validator/ContractServiceValidator.java
Owners: @egovernments/works-dev-pr-reviewers

enriching processInstance
  backend/contracts/src/main/java/org/egov/works/enrichment/ContractEnrichment.java
Owners: @egovernments/works-dev-pr-reviewers

PFM-4456 : updated the dss package version
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/molecules/Expenditure/Bills/View.js
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4458: removed muster roll validation in the case of timeextension
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Contracts/src/pages/employee/ViewContractDetails.js
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4458 : updated the version of contract
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Contracts/package.json
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4458: removed muster roll validation in the case of timeextension (#1346)
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Contracts/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Contracts/src/pages/employee/ViewContractDetails.js
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4464, PFM-4458:: Time Extension Requested changes and Muster Roll Bug Fixes
  frontend/works_shg_app/lib/blocs/time_extension_request/muster_search_for_time_extension.dart
  frontend/works_shg_app/lib/blocs/time_extension_request/valid_time_extension.dart
  frontend/works_shg_app/lib/blocs/time_extension_request/valid_time_extension.freezed.dart
  frontend/works_shg_app/lib/main.dart
  frontend/works_shg_app/lib/pages/service_requests/service_requests.dart
  frontend/works_shg_app/lib/pages/shg_inbox.dart
  frontend/works_shg_app/lib/pages/work_order/view_work_details.dart
  frontend/works_shg_app/lib/pages/work_order/work_order.dart
  frontend/works_shg_app/lib/widgets/WorkDetailsCard.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4464, PFM-4458:: Time Extension Requested changes and Muster Roll Bug Fixes
  frontend/works_shg_app/lib/blocs/time_extension_request/muster_search_for_time_extension.dart
  frontend/works_shg_app/lib/blocs/time_extension_request/valid_time_extension.dart
  frontend/works_shg_app/lib/blocs/time_extension_request/valid_time_extension.freezed.dart
  frontend/works_shg_app/lib/main.dart
  frontend/works_shg_app/lib/pages/service_requests/service_requests.dart
  frontend/works_shg_app/lib/pages/shg_inbox.dart
  frontend/works_shg_app/lib/pages/work_order/view_work_details.dart
  frontend/works_shg_app/lib/pages/work_order/work_order.dart
  frontend/works_shg_app/lib/widgets/WorkDetailsCard.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Project Closure Button removed
  frontend/works_shg_app/lib/widgets/WorkDetailsCard.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Project Closure Button removed
  frontend/works_shg_app/lib/widgets/WorkDetailsCard.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Project Closure Button removed
  frontend/works_shg_app/lib/pages/work_order/view_work_details.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Project Closure Button removed
  frontend/works_shg_app/lib/pages/work_order/view_work_details.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-3896 :making the locality mandatory in mukta uat in create project screen
  frontend/micro-ui/web/micro-ui-internals/packages/react-components/src/hoc/FormComposer.js
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

updated dss version
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4464, PFM-4458:: Time Extension Requested changes and Muster Roll Bug Fixes (#1348)
  frontend/works_shg_app/lib/blocs/time_extension_request/muster_search_for_time_extension.dart
  frontend/works_shg_app/lib/blocs/time_extension_request/valid_time_extension.dart
  frontend/works_shg_app/lib/blocs/time_extension_request/valid_time_extension.freezed.dart
  frontend/works_shg_app/lib/main.dart
  frontend/works_shg_app/lib/pages/service_requests/service_requests.dart
  frontend/works_shg_app/lib/pages/shg_inbox.dart
  frontend/works_shg_app/lib/pages/work_order/view_work_details.dart
  frontend/works_shg_app/lib/pages/work_order/work_order.dart
  frontend/works_shg_app/lib/widgets/WorkDetailsCard.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

updated dss version (#1349)
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4464, PFM-4458:: Time Extension Requested changes and Muster Roll… (#1347)
  frontend/works_shg_app/lib/blocs/time_extension_request/muster_search_for_time_extension.dart
  frontend/works_shg_app/lib/blocs/time_extension_request/valid_time_extension.dart
  frontend/works_shg_app/lib/blocs/time_extension_request/valid_time_extension.freezed.dart
  frontend/works_shg_app/lib/main.dart
  frontend/works_shg_app/lib/pages/service_requests/service_requests.dart
  frontend/works_shg_app/lib/pages/shg_inbox.dart
  frontend/works_shg_app/lib/pages/work_order/view_work_details.dart
  frontend/works_shg_app/lib/pages/work_order/work_order.dart
  frontend/works_shg_app/lib/widgets/WorkDetailsCard.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

CODEOWNERS:

*  @sathishp-eGov @subhashini-egov @jagankumar-egov
*.yaml @egovernments/works-dev-pr-reviewers

##Backend
backend/ @egovernments/works-dev-pr-reviewers

##Frontend
frontend/ @sathishp-eGov @jagankumar-egov @subhashini-egov

##Frontend
utilities/ @sathishp-eGov @jagankumar-egov @subhashini-egov
