Repository egovernments/DIGIT-Works, changes with the owners that CODEOWNERS names for each.
All owners: @sathishp-eGov, @subhashini-egov, @jagankumar-egov, @egovernments/works-dev-pr-reviewers

Change IFMS adapter failure sanction amount deduction (#1313)
  reference-adapters/ifms-adapter/src/main/java/org/egov/consumer/BillConsumer.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/enrichment/PaymentInstructionEnrichment.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/repository/PIRepository.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/FailureDetailsService.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/IfmsService.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/PAGService.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/PDService.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/PISService.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/PaymentInstructionService.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/PaymentService.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/utils/AuthenticationUtils.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/utils/BillUtils.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/utils/ESLogUtils.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/utils/PIUtils.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/validators/PaymentInstructionValidator.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/web/controller/PIController.java
  reference-adapters/ifms-adapter/src/main/resources/application.properties
  reference-adapters/ifms-adapter/src/main/resources/db/migration/main/V20230801480146__jit_pi_resp_alter_error_resp_ddl.sql
  reference-adapters/ifms-adapter/src/main/resources/db/migration/main/V20230817133030__add_index.sql
Owners: @sathishp-eGov, @subhashini-egov, @jagankumar-egov

PFM-4413:: Muster Roll update Fixes, And filter Active and In workflow contracts
  frontend/works_shg_app/lib/blocs/work_orders/search_individual_work.dart
  frontend/works_shg_app/lib/blocs/work_orders/search_my_works.dart
  frontend/works_shg_app/lib/pages/shg_inbox.dart
  frontend/works_shg_app/lib/pages/track_attendance.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4413:: Muster Roll update Fixes, And filter Active and In workflow contracts
  frontend/works_shg_app/lib/blocs/work_orders/search_individual_work.dart
  frontend/works_shg_app/lib/pages/shg_inbox.dart
  frontend/works_shg_app/lib/pages/track_attendance.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4413:: Muster Roll update Fixes, And filter Active and In workflow contracts
  frontend/works_shg_app/lib/blocs/work_orders/search_individual_work.dart
  frontend/works_shg_app/lib/pages/shg_inbox.dart
  frontend/works_shg_app/lib/pages/track_attendance.dart
  frontend/works_shg_app/lib/utils/constants.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4413:: Muster Roll update Fixes, And filter Active and In workflow contracts
  frontend/works_shg_app/lib/pages/shg_inbox.dart
  frontend/works_shg_app/lib/pages/track_attendance.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4413:: Muster Roll update Fixes, And filter Active and In workflo… (#1315)
  frontend/works_shg_app/lib/blocs/work_orders/search_individual_work.dart
  frontend/works_shg_app/lib/blocs/work_orders/search_my_works.dart
  frontend/works_shg_app/lib/pages/shg_inbox.dart
  frontend/works_shg_app/lib/pages/track_attendance.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4413:: Muster Roll update Fixes, And filter Active and In workflo… (#1316)
  frontend/works_shg_app/lib/blocs/work_orders/search_individual_work.dart
  frontend/works_shg_app/lib/pages/shg_inbox.dart
  frontend/works_shg_app/lib/pages/track_attendance.dart
  frontend/works_shg_app/lib/utils/constants.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4413 : modification of musterroll when skill is getting changed
  frontend/works_shg_app/lib/blocs/work_orders/search_individual_work.dart
  frontend/works_shg_app/lib/pages/shg_inbox.dart
  frontend/works_shg_app/lib/pages/track_attendance.dart
  frontend/works_shg_app/lib/utils/constants.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Changes added to search my works
  frontend/works_shg_app/lib/blocs/work_orders/search_my_works.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Audit CHanges
  backend/expense/src/main/java/org/egov/digit/expense/service/PaymentService.java
  backend/expense/src/main/java/org/egov/digit/expense/web/validators/PaymentValidator.java
Owners: @egovernments/works-dev-pr-reviewers

My Service requests Localization fix
  frontend/works_shg_app/lib/pages/service_requests/service_requests.dart
  frontend/works_shg_app/lib/utils/localization_constants/i18_key_constants.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

My Service requests Localization fix (#1317)
  frontend/works_shg_app/lib/pages/service_requests/service_requests.dart
  frontend/works_shg_app/lib/utils/localization_constants/i18_key_constants.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

pfm-4415: breadcrumb fix for wage seeker modify and org create and modify (#1318)
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Masters/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Masters/src/pages/employee/Organisation/CreateOrganization/CreateOrganizationForm.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Masters/src/pages/employee/WageSeeker/ModifyWageSeeker/ModifyWageSeekerForm.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Masters/src/pages/employee/index.js
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

null check on tenantId
  frontend/micro-ui/web/micro-ui-internals/packages/Mukta/src/configs/UICustomizations.js
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

null check on tenantId (#1319)
  frontend/micro-ui/web/micro-ui-internals/packages/Mukta/src/configs/UICustomizations.js
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4429 : added t for the piErrorResp in UI
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/molecules/Expenditure/Payments/ViewPayment.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/molecules/Expenditure/Payments/ViewPaymentInstruction.js
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Update DSS module to latest version 1.5.42
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Add additionalDetails to payee in expense service
  backend/expense/src/main/java/org/egov/digit/expense/repository/rowmapper/BillRowMapper.java
Owners: @egovernments/works-dev-pr-reviewers

Refactored Estimate Service
  backend/estimates/src/main/java/org/egov/config/EstimateServiceConfiguration.java
  backend/estimates/src/main/java/org/egov/service/NotificationService.java
  backend/estimates/src/main/java/org/egov/validator/EstimateServiceValidator.java
  backend/estimates/src/main/java/org/egov/web/models/WorksSmsRequest.java
  backend/estimates/src/main/resources/application.properties
Owners: @egovernments/works-dev-pr-reviewers

Add additional details
  backend/expense/src/main/java/org/egov/digit/expense/repository/rowmapper/BillRowMapper.java
Owners: @egovernments/works-dev-pr-reviewers

Add additionalDetails to payee in expense service (#1320)
  backend/expense/src/main/java/org/egov/digit/expense/repository/rowmapper/BillRowMapper.java
Owners: @egovernments/works-dev-pr-reviewers

Refactored Validation Code
  backend/estimates/src/main/java/org/egov/validator/EstimateServiceValidator.java
Owners: @egovernments/works-dev-pr-reviewers

Add additionalDetails to payee in expense service
  backend/expense/src/main/java/org/egov/digit/expense/repository/rowmapper/BillRowMapper.java
Owners: @egovernments/works-dev-pr-reviewers

getAdditionalDetails refactoring
  backend/expense/src/main/java/org/egov/digit/expense/repository/rowmapper/BillRowMapper.java
Owners: @egovernments/works-dev-pr-reviewers

getAdditionalDetails refactoring (#1321)
  backend/expense/src/main/java/org/egov/digit/expense/repository/rowmapper/BillRowMapper.java
Owners: @egovernments/works-dev-pr-reviewers

getAdditionalDetails refactoring
  backend/expense/src/main/java/org/egov/digit/expense/repository/rowmapper/BillRowMapper.java
Owners: @egovernments/works-dev-pr-reviewers

PFM-4424-instead of using string.valueOf used asText
  backend/attendance/src/main/java/org/egov/kafka/Consumer.java
Owners: @egovernments/works-dev-pr-reviewers

PFM-4424-instead of using string.valueOf used asText (#1322)
  backend/attendance/src/main/java/org/egov/kafka/Consumer.java
Owners: @egovernments/works-dev-pr-reviewers

Translator added for Time Ext Requests
  frontend/works_shg_app/lib/pages/time_extension_request/create_time_extension.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Translator added for Time Ext Requests
  frontend/works_shg_app/lib/pages/service_requests/service_requests.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Translator added for Time Ext Requests (#1323)
  frontend/works_shg_app/lib/pages/service_requests/service_requests.dart
  frontend/works_shg_app/lib/pages/time_extension_request/create_time_extension.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Migration scipt for migrating previously generated users to individual table
  backend/organisation/src/main/java/org/egov/config/Configuration.java
  backend/organisation/src/main/java/org/egov/util/UserMigrationUtil.java
  backend/organisation/src/main/java/org/egov/web/controllers/MigrationController.java
  backend/organisation/src/main/resources/application.properties
Owners: @egovernments/works-dev-pr-reviewers

Removing test
  backend/organisation/src/test/java/org/egov/web/controllers/OrganisationApiControllerTest.java
Owners: @egovernments/works-dev-pr-reviewers

Removing test
  backend/organisation/src/test/java/org/egov/web/controllers/OrganisationApiControllerTest.java
Owners: @egovernments/works-dev-pr-reviewers

updated dss version
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Added null and empty check
  backend/organisation/src/main/java/org/egov/util/UserMigrationUtil.java
Owners: @egovernments/works-dev-pr-reviewers

updated dss version (#1325)
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

encrypted mobile number and added audit details
  backend/organisation/src/main/java/org/egov/util/UserMigrationUtil.java
  backend/organisation/src/main/java/org/egov/web/controllers/MigrationController.java
Owners: @egovernments/works-dev-pr-reviewers

Update digit-ui-libraries
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Update dss and libraries module
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

CODEOWNERS:

*  @sathishp-eGov @subhashini-egov @jagankumar-egov
*.yaml @egovernments/works-dev-pr-reviewers

##Backend
backend/ @egovernments/works-dev-pr-reviewers

##Frontend
frontend/ @sathishp-eGov @jagankumar-egov @subhashini-egov

##Frontend
utilities/ @sathishp-eGov @jagankumar-egov @subhashini-egov
