Repository egovernments/DIGIT-Works, changes with the owners that CODEOWNERS names for each.
All owners: @sathishp-eGov, @subhashini-egov, @jagankumar-egov, @egovernments/works-dev-pr-reviewers

Time extension Button in My works Commented, and version upgraded
  frontend/works_shg_app/lib/widgets/WorkDetailsCard.dart
  frontend/works_shg_app/package.json
  frontend/works_shg_app/pubspec.yaml
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Time extension Button in My works Commented, and version upgraded (#1307)
  frontend/works_shg_app/lib/widgets/WorkDetailsCard.dart
  frontend/works_shg_app/package.json
  frontend/works_shg_app/pubspec.yaml
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Code Refactored
  backend/estimates/src/main/java/org/egov/validator/EstimateServiceValidator.java
Owners: @egovernments/works-dev-pr-reviewers

PFM-4316 Need to disable create payment instruction & generate payment advice screens
  frontend/micro-ui/web/micro-ui-internals/packages/Mukta/src/components/WorksCard.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Expenditure/src/pages/employee/Bills/SearchPaymentInstruction.js
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4380 : updated the expenditure version in order to get few fixes
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-3761 : Updated the code in order to hide payee name
  frontend/works_shg_app/lib/pages/bills/my_bills.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Removed failure deduction
  reference-adapters/ifms-adapter/src/main/java/org/egov/consumer/BillConsumer.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/enrichment/PaymentInstructionEnrichment.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/repository/PIRepository.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/FailureDetailsService.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/IfmsService.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/PAGService.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/PDService.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/PISService.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/PaymentInstructionService.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/utils/AuthenticationUtils.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/utils/BillUtils.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/utils/ESLogUtils.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/validators/PaymentInstructionValidator.java
  reference-adapters/ifms-adapter/src/main/resources/application.properties
  reference-adapters/ifms-adapter/src/main/resources/db/migration/main/V20230801480146__jit_pi_resp_alter_error_resp_ddl.sql
  reference-adapters/ifms-adapter/src/main/resources/db/migration/main/V20230817133030__add_index.sql
Owners: @sathishp-eGov, @subhashini-egov, @jagankumar-egov

Removed failure deduction
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/PaymentService.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/utils/BillUtils.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/utils/PIUtils.java
Owners: @sathishp-eGov, @subhashini-egov, @jagankumar-egov

PFM-4316 Need to disable create payment instruction & generate payment advice screens
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Expenditure/src/pages/employee/Bills/SearchPaymentInstruction.js
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Forworded beneficiary message in revied PI
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/FailureDetailsService.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/PaymentInstructionService.java
Owners: @sathishp-eGov, @subhashini-egov, @jagankumar-egov

updated routing from pi page
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/molecules/Expenditure/Payments/ViewPayment.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Masters/package.json
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4380 : Updated the styles of tooltip text for PI
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/molecules/Expenditure/Payments/ViewPayment.js
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4380 : kept the updated version for expenditure
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Rounding Off Of LineItem Amount
  backend/expense-calculator/src/main/java/org/egov/digit/expense/calculator/service/PurchaseBillGeneratorService.java
Owners: @egovernments/works-dev-pr-reviewers

Fixed PI create message issue
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/PaymentInstructionService.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/PaymentService.java
Owners: @sathishp-eGov, @subhashini-egov, @jagankumar-egov

Code Sync With Works Fixes for Zero Amout Filter
  backend/expense-calculator/src/main/java/org/egov/digit/expense/calculator/service/SupervisionBillGeneratorService.java
  backend/expense-calculator/src/main/java/org/egov/digit/expense/calculator/service/WageSeekerBillGeneratorService.java
Owners: @egovernments/works-dev-pr-reviewers

Removed the Line Item Object which will have Zero Amount
  backend/expense-calculator/src/main/java/org/egov/digit/expense/calculator/service/PurchaseBillGeneratorService.java
Owners: @egovernments/works-dev-pr-reviewers

PFM-4387 : corrected the query param for redirection of cbo details
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/molecules/Expenditure/Payments/ViewPayment.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/molecules/Expenditure/Payments/ViewPaymentInstruction.js
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Removed runtime exception for resolving error message
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/FailureDetailsService.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/PAGService.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/PDService.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/service/PISService.java
  reference-adapters/ifms-adapter/src/main/java/org/egov/web/controller/PIController.java
Owners: @sathishp-eGov, @subhashini-egov, @jagankumar-egov

PFM-4139 : Moving works changes to mukta uat, regarding error banner
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/molecules/Expenditure/Payments/ViewPayment.js
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4124 : added the error toast message whenever the bill amount in less than equal to zero
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Expenditure/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Expenditure/src/pages/employee/CreateBills/CreatePurchaseBillForm.js
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4124 : added the error toast message whenever the bill amount in less than equal to zero (#1309)
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Expenditure/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Expenditure/src/pages/employee/CreateBills/CreatePurchaseBillForm.js
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4405 - Resolve paid amount issue for bill based on payment status
  backend/expense/src/main/java/org/egov/digit/expense/service/PaymentService.java
  backend/expense/src/main/java/org/egov/digit/expense/web/validators/PaymentValidator.java
Owners: @egovernments/works-dev-pr-reviewers

PFM-4378 : handled 0 netvalue and deduction in expenditure UI
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/molecules/Expenditure/Search.js
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Added purchase bill rounding
  backend/expense-calculator/src/main/java/org/egov/digit/expense/calculator/service/PurchaseBillGeneratorService.java
Owners: @egovernments/works-dev-pr-reviewers

changing desc to message
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Expenditure/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Expenditure/src/pages/employee/Payments/ViewPayment.js
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

changing desc to message (#1310)
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Expenditure/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Expenditure/src/pages/employee/Payments/ViewPayment.js
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

[PFM-4417,PFM-4315] : UI changes and dss changes
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/atoms/Utils/Request.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/molecules/Expenditure/Payments/ViewPayment.js
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4313 : updated the status from hardcode to dynamic value
  frontend/micro-ui/web/micro-ui-internals/packages/Mukta/src/configs/UICustomizations.js
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4417 : updated the loclaisation key in benificiary table
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/molecules/Expenditure/Payments/ViewPayment.js
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

My Works:: Filter pending for acceptance, accepted and approved contracts except Inactive ones
  frontend/works_shg_app/lib/blocs/auth/auth.dart
  frontend/works_shg_app/lib/blocs/work_orders/search_my_works.dart
  frontend/works_shg_app/lib/data/remote_client.dart
  frontend/works_shg_app/lib/pages/wage_seeker_registration/financial_details.dart
  frontend/works_shg_app/lib/utils/constants.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

My Works:: Filter pending for acceptance, accepted and approved contracts except Inactive ones (#1311)
  frontend/works_shg_app/lib/blocs/auth/auth.dart
  frontend/works_shg_app/lib/blocs/work_orders/search_my_works.dart
  frontend/works_shg_app/lib/data/remote_client.dart
  frontend/works_shg_app/lib/pages/wage_seeker_registration/financial_details.dart
  frontend/works_shg_app/lib/utils/constants.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Updated version of expense calculator
  backend/expense-calculator/pom.xml
Owners: @egovernments/works-dev-pr-reviewers

Updated dss and expenditure modules
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/molecules/Expenditure/Search.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Expenditure/package.json
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Updated dss and expenditure modules (#1314)
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/molecules/Expenditure/Search.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Expenditure/package.json
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

updated routing from pi page (#1308)
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/molecules/Expenditure/Payments/ViewPayment.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Masters/package.json
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4411 : added to upper case condition in wageseeker creation
  frontend/works_shg_app/lib/pages/wage_seeker_registration/financial_details.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

pfm-4415: breadcrumb fix for wage seeker modify and org create and modify
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Masters/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Masters/src/pages/employee/Organisation/CreateOrganization/CreateOrganizationForm.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Masters/src/pages/employee/WageSeeker/ModifyWageSeeker/ModifyWageSeekerForm.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Masters/src/pages/employee/index.js
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

[PFM-4214] Do not generate wage, purchase, supervision bill if amount is not grater then ZERO (#1305)
  backend/expense-calculator/pom.xml
  backend/expense-calculator/src/main/java/org/egov/digit/expense/calculator/service/PurchaseBillGeneratorService.java
  backend/expense-calculator/src/main/java/org/egov/digit/expense/calculator/service/SupervisionBillGeneratorService.java
  backend/expense-calculator/src/main/java/org/egov/digit/expense/calculator/service/WageSeekerBillGeneratorService.java
Owners: @egovernments/works-dev-pr-reviewers

PFM-4405 - Resolve paid amount issue for bill based on payment status (#1312)
  backend/expense/src/main/java/org/egov/digit/expense/service/PaymentService.java
  backend/expense/src/main/java/org/egov/digit/expense/web/validators/PaymentValidator.java
Owners: @egovernments/works-dev-pr-reviewers

CODEOWNERS:

*  @sathishp-eGov @subhashini-egov @jagankumar-egov
*.yaml @egovernments/works-dev-pr-reviewers

##Backend
backend/ @egovernments/works-dev-pr-reviewers

##Frontend
frontend/ @sathishp-eGov @jagankumar-egov @subhashini-egov

##Frontend
utilities/ @sathishp-eGov @jagankumar-egov @subhashini-egov
