Repository egovernments/DIGIT-Works, changes with the owners that CODEOWNERS names for each.
All owners: @sathishp-eGov, @subhashini-egov, @jagankumar-egov, @egovernments/works-dev-pr-reviewers

Update digit-ui-libraries (#1326)
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Update dss version
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Update dss version (#1327)
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-2346 Sms notifications for time extension
  backend/contracts/src/main/java/org/egov/works/service/NotificationService.java
  backend/contracts/src/main/java/org/egov/works/util/ContractServiceConstants.java
Owners: @egovernments/works-dev-pr-reviewers

Add condition to check gender in expense service
  backend/expense/src/main/java/org/egov/digit/expense/util/EnrichmentUtil.java
Owners: @egovernments/works-dev-pr-reviewers

Updated dss + css versions
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/example/public/index.html
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/utils/dss/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/react-components/src/atoms/svgindex.js
  frontend/micro-ui/web/package.json
  frontend/micro-ui/web/public/index.html
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Updated dss + css versions (#1329)
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/example/public/index.html
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/utils/dss/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/react-components/src/atoms/svgindex.js
  frontend/micro-ui/web/package.json
  frontend/micro-ui/web/public/index.html
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Updated dss + css versions
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/example/public/index.html
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/utils/dss/index.js
  frontend/micro-ui/web/micro-ui-internals/packages/react-components/src/atoms/svgindex.js
  frontend/micro-ui/web/package.json
  frontend/micro-ui/web/public/index.html
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Add condition to check gender in expense service (#1328)
  backend/expense/src/main/java/org/egov/digit/expense/util/EnrichmentUtil.java
Owners: @egovernments/works-dev-pr-reviewers

PFM-2346 Taking projectNumber instead of project name
  backend/contracts/src/main/java/org/egov/works/service/NotificationService.java
Owners: @egovernments/works-dev-pr-reviewers

updated DSS and CSS
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/example/public/index.html
  frontend/micro-ui/web/package.json
  frontend/micro-ui/web/public/index.html
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

fixed up css and changed dss
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/example/public/index.html
  frontend/micro-ui/web/package.json
  frontend/micro-ui/web/public/index.html
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

fixed up css and changed dss (#1331)
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/example/public/index.html
  frontend/micro-ui/web/package.json
  frontend/micro-ui/web/public/index.html
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-2346 change in message.replace
  backend/contracts/src/main/java/org/egov/works/service/NotificationService.java
Owners: @egovernments/works-dev-pr-reviewers

Migration API added
  backend/organisation/src/main/java/org/egov/config/Configuration.java
  backend/organisation/src/main/java/org/egov/service/NotificationService.java
  backend/organisation/src/main/java/org/egov/service/OrganisationService.java
  backend/organisation/src/main/java/org/egov/util/UserMigrationUtil.java
  backend/organisation/src/main/java/org/egov/web/controllers/MigrationController.java
  backend/organisation/src/main/java/org/egov/web/models/OrgRequest.java
  backend/organisation/src/main/java/org/egov/web/models/WorksSmsRequest.java
  backend/organisation/src/main/resources/application.properties
  backend/organisation/src/test/java/org/egov/web/controllers/OrganisationApiControllerTest.java
Owners: @egovernments/works-dev-pr-reviewers

refactored
  backend/organisation/src/main/resources/application.properties
Owners: @egovernments/works-dev-pr-reviewers

refactored
  backend/organisation/src/main/java/org/egov/util/UserMigrationUtil.java
Owners: @egovernments/works-dev-pr-reviewers

PFM-2346 Added sendBack workflow action
  backend/contracts/src/main/java/org/egov/works/service/NotificationService.java
Owners: @egovernments/works-dev-pr-reviewers

refactored
  backend/organisation/src/main/java/org/egov/util/UserMigrationUtil.java
  backend/organisation/src/main/java/org/egov/web/controllers/MigrationController.java
Owners: @egovernments/works-dev-pr-reviewers

refactored
  backend/organisation/src/main/java/org/egov/config/Configuration.java
Owners: @egovernments/works-dev-pr-reviewers

PFM-2346 Added sendBack workflow action again
  backend/contracts/src/main/java/org/egov/works/service/NotificationService.java
Owners: @egovernments/works-dev-pr-reviewers

Added Public Key For Prod
  reference-adapters/ifms-adapter/src/main/resources/publicKey
Owners: @sathishp-eGov, @subhashini-egov, @jagankumar-egov

setting indvidual uuid equal to useruuid
  backend/organisation/src/main/java/org/egov/util/UserMigrationUtil.java
Owners: @egovernments/works-dev-pr-reviewers

Updated attendence register default limit
  backend/attendance/src/main/resources/application.properties
Owners: @egovernments/works-dev-pr-reviewers

Commented validator
  backend/attendance/src/main/java/org/egov/repository/RegisterRepository.java
  backend/attendance/src/main/java/org/egov/repository/querybuilder/RegisterQueryBuilder.java
  backend/attendance/src/main/java/org/egov/service/StaffService.java
Owners: @egovernments/works-dev-pr-reviewers

Updated Public Key For Prod
  reference-adapters/ifms-adapter/src/main/resources/publicKey
Owners: @sathishp-eGov, @subhashini-egov, @jagankumar-egov

Update build-config.yml
  build/build-config.yml
Owners: @sathishp-eGov, @subhashini-egov, @jagankumar-egov

taking state level tenant id for encryption and filtering citizens
  backend/organisation/src/main/java/org/egov/util/UserMigrationUtil.java
Owners: @egovernments/works-dev-pr-reviewers

Changed validation for attendence migration and changed limit of attendence search
  backend/attendance/src/main/java/org/egov/service/OrganisationContactDetailsStaffUpdateService.java
  backend/attendance/src/main/java/org/egov/service/StaffService.java
  backend/attendance/src/main/java/org/egov/validator/StaffServiceValidator.java
  backend/attendance/src/main/java/org/egov/web/controllers/StaffApiController.java
  backend/attendance/src/main/resources/application.properties
  backend/attendance/src/test/java/org/egov/validator/StaffServiceValidatorTest.java
  backend/attendance/src/test/java/org/egov/web/controllers/StaffApiControllerTest.java
Owners: @egovernments/works-dev-pr-reviewers

Download button removed from Time Extension Request page
  frontend/works_shg_app/lib/pages/time_extension_request/create_time_extension.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Download button removed from Time Extension Request page (#1333)
  frontend/works_shg_app/lib/pages/time_extension_request/create_time_extension.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Change test case
  backend/attendance/src/main/java/org/egov/service/StaffService.java
  backend/attendance/src/test/java/org/egov/web/controllers/StaffApiControllerTest.java
Owners: @egovernments/works-dev-pr-reviewers

Removed staf check for cbo migration
  backend/attendance/src/main/java/org/egov/validator/StaffServiceValidator.java
Owners: @egovernments/works-dev-pr-reviewers

Adding readme.md (#1298)
  backend/attendance/README.md
  backend/bankaccounts/README.md
  backend/contracts/README.md
  backend/expense-calculator/README.md
  backend/expense/README.md
  backend/muster-roll/README.md
  backend/organisation/README.md
  reference-adapters/ifms-adapter/README.md
  reference-adapters/ifms-adapter/ifms-adapter-v1.0.0.yaml
Owners: @egovernments/works-dev-pr-reviewers, @sathishp-eGov, @subhashini-egov, @jagankumar-egov

audit fixes for time extension + JIT
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/molecules/Expenditure/Payments/ViewPayment.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Contracts/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Contracts/src/components/TimeExtension/CreateTimeExtension.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Expenditure/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/templates/ApplicationDetails/components/ApplicationDetailsContent.js
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4412:: IFSC Code Send in Uppercase while creating wage seeker
  frontend/works_shg_app/lib/pages/wage_seeker_registration/financial_details.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

PFM-4412:: IFSC Code Send in Uppercase while creating wage seeker (#1335)
  frontend/works_shg_app/lib/pages/wage_seeker_registration/financial_details.dart
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

pfm-4445
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/molecules/Expenditure/Bills/View.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Expenditure/package.json
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

pfm-4442 pfm-4440 (#1334)
  frontend/micro-ui/web/micro-ui-internals/example/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/molecules/Expenditure/Bills/View.js
  frontend/micro-ui/web/micro-ui-internals/packages/libraries/src/services/molecules/Expenditure/Payments/ViewPayment.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Contracts/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Contracts/src/components/TimeExtension/CreateTimeExtension.js
  frontend/micro-ui/web/micro-ui-internals/packages/modules/Expenditure/package.json
  frontend/micro-ui/web/micro-ui-internals/packages/modules/templates/ApplicationDetails/components/ApplicationDetailsContent.js
  frontend/micro-ui/web/package.json
Owners: @sathishp-eGov, @jagankumar-egov, @subhashini-egov

Skip validateStaffPermissionOnCreate for cbo migration
  backend/attendance/src/main/java/org/egov/service/StaffService.java
  backend/attendance/src/main/java/org/egov/validator/StaffServiceValidator.java
  backend/attendance/src/test/java/org/egov/validator/StaffServiceValidatorTest.java
Owners: @egovernments/works-dev-pr-reviewers

CODEOWNERS:

*  @sathishp-eGov @subhashini-egov @jagankumar-egov
*.yaml @egovernments/works-dev-pr-reviewers

##Backend
backend/ @egovernments/works-dev-pr-reviewers

##Frontend
frontend/ @sathishp-eGov @jagankumar-egov @subhashini-egov

##Frontend
utilities/ @sathishp-eGov @jagankumar-egov @subhashini-egov
